# CMSC320 Final Project
## Austin Smith + Friends

In [2]:
import pandas as pd

In [3]:
games = pd.read_html("https://www.basketball-reference.com/teams/PHO/2019_games.html")[0]
games.drop(columns=['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 8', 'Notes'], inplace=True)
games.rename(columns={'Unnamed: 7': 'Result'}, inplace=True)
games.set_index(keys='G', inplace=True)
games.dropna(inplace=True)
games['Date'] = pd.to_datetime(games['Date'] + ' ' + games['Start (ET)'])
games.drop(columns=['Start (ET)'], inplace=True)
games

                  Date               Opponent Result   Tm  Opp   W   L Streak
G
1  2018-10-17 22:30:00       Dallas Mavericks      W  121  100   1   0    W 1
2  2018-10-20 21:00:00         Denver Nuggets      L   91  119   1   1    L 1
3  2018-10-22 22:30:00  Golden State Warriors      L  103  123   1   2    L 2
4  2018-10-24 22:00:00     Los Angeles Lakers      L  113  131   1   3    L 3
5  2018-10-27 20:00:00      Memphis Grizzlies      L   96  117   1   4    L 4
..                 ...                    ...    ...  ...  ...  ..  ..    ...
78 2019-04-01 22:00:00    Cleveland Cavaliers      W  122  113  18  60    W 1
79 2019-04-03 22:00:00              Utah Jazz      L   97  118  18  61    L 1
80 2019-04-05 22:00:00   New Orleans Pelicans      W  133  126  19  61    W 1
81 2019-04-07 19:00:00        Houston Rockets      L  113  149  19  62    L 1
82 2019-04-09 20:30:00       Dallas Mavericks      L  109  120  19  63    L 2

[82 rows x 8 columns]

In [4]:
!jupyter nbconvert --to html Suns.ipynb

[NbConvertApp] Converting notebook Suns.ipynb to html
[NbConvertApp] Writing 278931 bytes to Suns.html